body .bruce {
  position:absolute;
  background:white;
  border-radius:0.5rem;
  width:13rem;
  bottom:2rem;
  left:2rem;
  opacity:0;
  display:none;
  height:4rem;
  padding:0.2rem;
  font-family:"Open Sans",sans-serif;
}

body .bruce img {
  position:relative;
  left:0.2rem;
  top:0.2rem;
  height:3.5rem;
  float:left;
  border-color:#FFFFFF;
  border-radius:0.4rem;
}

body .bruce div {
  position:relative;
  left:0.9rem;
  top:0.5rem;
}

body .bruce p {
  font-size:1rem;
  color:black;
  text-align:left;
  margin:0.1rem;
}

body .bruce p.title {
  font-weight:bold;
  margin-bottom:0.5rem;
}



.reveal section .verse {
  margin:1.5rem;
  font-size:2.0 rem;
}

.reveal section p.strong {
  font-weight:bold;
  margin:1.5rem;
  color:white;
}

.reveal section p.small {
  float: right;
  font-size:1.5rem;
}

.reveal section img {
  max-height:80vh;
  max-width:80vw;
}

/* General Demo Style */

.demo {
  width:100%;
  max-height:20rem;
}

.demo * {
  margin:1rem;
}

.demo input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* Add two numbers demo */

.add-two-numbers.demo input {
  width: 4rem;
}

.add-two-numbers.demo label {
  display:inline;
}

.add-two-numbers.demo label.answer {
  display:block;
  font-weight:bold;
}

/* Throw a ball demo */

.ball.demo svg circle {
  fill:rgb(255,255,255);
}

.ball.demo svg text {
  font-size:1rem;
  fill:rgb(255,255,255);
  dominant-baseline:middle;
}

.ball.demo input {
  margin:auto;
  width:150px;
  display:block;
}

/* HSL demo */

.hsl.demo input {
  margin:1rem auto 1rem auto;
  width:150px;
  display:block;
}
